*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(fundo.jpg);
    flex-wrap: wrap;
}

header{
    background-color: rgba(25, 25, 251, 0.188);
    color: aliceblue;
    display: flex;
    height: 64px;
    font-size: 34px;
    justify-content:flex-start;
    text-shadow: aliceblue 0.04000em 0.04000em;
    position: sticky;
    width: 100%;
    box-shadow: 0px 2px 14px #000;
}

.topo{
    padding: 15px;
}

.fonteAp{
    color: aliceblue;
    font-size: 30px;
    box-shadow: 0px 2px 14px #000;
    text-align: center;
}

.fonte-eu{
    font-size: 20px;
}
.fonteNome{
    color: aliceblue;
    font-size: 40px;
    
    box-shadow: 0px 2px 14px #000;
}

.fonteSOBRE{
    color: aliceblue;
    font-size: 40px;
    text-shadow: aliceblue 0.04000em 0.04000em;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 100px;
}

.foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 2px 14px #000;
}


footer.fixar-rodape{
    background-color: rgba(25, 25, 251, 0.188);
    bottom: 0;
    left: 0;
    height: 64px;
    position: fixed;
    width: 100%;
    text-align: center;
  }

  .sombra{
    text-shadow: aliceblue 0.04000em 0.04000em;
  }

  .fonteSobre{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
  }

  .sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    border: 1px solid rgba(25, 25, 251, 0.188);
    background-image: url(fundo.jpg);
    height: 100%;
    text-align: center;
    box-shadow: 0px 2px 14px #000;
  }

  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header a, a:visited{
    color: aliceblue;
  }

  .skills{
    display: grid;
    grid-template-columns: 1fr;
    color: aliceblue;
    border: 1px solid rgba(25, 25, 251, 0.188);
    background-image: url(fundo.jpg);
    text-align: center;
    box-shadow: 0px 2px 14px #000;
    margin: 200px;
}